* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: #000080;
  color: #ffffff;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000080;
  font-size: 16px;
  margin: 50px;
  border: 2px solid #000080;
  width: 180px;
  height: 250px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (min-width: 776px) {
  .banner {
    font-size: 36px;
  }
}
